<%- include('../partials/header') %>

<section id="show-page">
    <div>Airlines: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departing: </div>
    <div><%= flight.departs %></div>
    <div>Departs: </div>
    <div><%= flight.departs ? 'Yes' : 'Nope' %></div>
  </section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/destinations/<%= flight._id %>">
  <label>Destinations:</label><br>

  <label>Airline:</label>
  <select name="airline">
      <option value="Volaris">Volaris</option>
      <option value="Delta">Delta</option>
      <option value="Southwest">Southwest</option>
      <option value="Air Canada">Air Canada</option>
      <option value="United">United</option>
 </select><br>

  <label>Airport:</label>
  <select name="airport">
      <option value="MEX">MEX</option>
      <option value="NRT">NRT</option>
      <option value="YVR">YVR</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
 </select><br>
 <label>FlightNo:
     <input type="number" name="flightNo">
 </label><br>
 <label>Arrivals:
   <input type="datetime-local" name="arrivals">
 </label><br>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
           <th>Airline</th>
          <th>Airport</th>
          <th>FlightNo.</th>
          <th>Arrivals</th>
        </tr>
      </thead>
      <tbody>
         <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.arrivals %></td>
          </tr>
        <% }); %>
      </tbody> 
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <form id="add-ticket-form" action="/tickets/<%= flight._id %>" method="POST">
    <label>Name:</label>
    <input type="text" name="seat">
    <label>Born:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
  </form>

<%- include('../partials/footer') %>
